body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fff3f3;
    font-family: Arial, sans-serif;
}

#map-button {
    padding: 15px 30px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    font-weight: bold;
}

#map-button:hover {
    background-color: #0056b3;
}

.contact {
    padding: 10px;
    display: flex;
    position: absolute;
    align-items: space-around;
    justify-content: center;
    flex-direction: row;
    bottom: 0;
}

.contact a {
    margin: 10px;
    font-size: 2rem;
    text-align: center;
    display: inline-block;
    color: #000000;
}

.contact:hover {
    color: #00754a;
}
